.table-dark {
    --bs-table-bg: #b22f2f;
    --bs-table-striped-bg: #b22f2f;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #b22f2f;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #b22f2f;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
}