body{
    margin: 0;
    padding: 0;
    background: #f1f1f180;
}
html{
    scroll-behavior: smooth;
}
.navbar {
    padding: 1rem 3rem;
    background-color: rgb(245 245 245)!important;
}
.navbar-light .navbar-brand {
    font-size: 30px;
    color: #000;
    font-weight: 700;
    margin-right: 6%;
}
.navbar-light .navbar-brand span{
    color: #0fcf0f;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .d-flex .nav-link{
    color: rgba(0,0,0,0.7);
    font-size: 16px;
    font-weight: 800;
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .d-flex .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .d-flex .nav-link.active{
    color: rgba(0,0,0,0.95);
}
.navbar-light .navbar-toggler-icon {
    width: 30px;
    margin: 10px -18px 0 0;
}
.navbar-light .navbar-toggler {
    color: rgb(0 0 0 / 0%);
    border-color: rgb(0 0 0 / 0%);
}
a.btn.btn-info {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    transition: 200ms ease-in;
    letter-spacing: 1px;
}
a.btn.btn-info:hover{
    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.33);
    transition: 200ms ease-in;
}
.heroSection{
    width: 100%;
    margin: 0;
    padding: 12px;
    background: url('img/1.jpg') no-repeat center;
    background-size: cover;
}
.heroItems{
    max-width: 800px;
    margin: 3% auto;
    text-align: center;
    padding: 3%;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(13px) saturate(180%);
}
.heroItems h2,
.pageHero h2{
    font-weight: 800;
}
.heroItems h5{
    font-weight: 400;
    margin: 25px auto;
    padding: 0;
}

.postsarea{
    width: 100%;
    margin: 50px 0;
}
.postareaLeft{
    border-right: 1px solid rgba(0,0,0,0.12);
}
.postsCard{
    width: 86%;
    margin: 50px auto;
    margin-bottom: 0;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    transition: 200ms ease;
}
.postsCard:hover{
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.22);
    transition: 200ms ease;
}
.postImage{
    width: 100%;
    border-radius: 3px;
}
.postsCard p span{
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.66);
}
.blogcategory h6 a{
    color: #ff001e;
    transition: 200ms ease-in;
    text-decoration: none;
    font-weight: 500;
}
.blogcategory h6 a:hover{
    color: #ff8392;
    transition: 100ms ease-in;
}
.followAdmin{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.05);
    margin: 35px auto;
    padding: 5% 3%;
}
.followAdmin a i{
    font-size: 20px;
    padding: 6px;
    margin: 10px 10px;
    background: #000000;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    transition: 250ms ease-in;
}
.followAdmin a i:hover{
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: 250ms ease-in;
}


.pageHero,
.subscribe{
    width: 100%;
    margin: 0;
    padding: 4% 1%;
    text-align: center;
    background: black;
}
.pageHero h2,
.subscribe h2{
    font-weight: 800;
    color: rgba(255,255,255,0.8);
    letter-spacing: 5px;
}
.subscribe .form-control{
    max-width: 600px;
    background: rgba(0,0,0,0.66);
    outline: none;
    box-shadow: none;
    border-color: none;
    color: rgba(255,255,255,0.8);
    border: 1px solid rgba(255, 255, 255, 0.33);
    margin: 30px auto;
}
.subscribe .btn-success{
    background: rgb(223, 223, 223);
    color: black;
    padding: 6px 30px;
    letter-spacing: 1px;
    font-weight: 700;
    border: none;
    border-color: #000000;
}
.subscribe .btn-success:hover{
    background: rgb(255, 255, 255);
    transition: 150ms ease-in;
}

.containtBox{
    max-width: 900px;
    margin: 2% auto;
    padding: 35px 2%;
}


.loginSignup{
    width: 100%;
    margin: 0;
    padding: 0;
}
.signupCard h3,
.loginCard h3{
    font-weight: 800;
    letter-spacing: 2px;
}
.loginCard{
    max-width: 500px;
    margin: 81px auto;
    padding: 30px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    background: white;
}
.loginCard .btn-success,
.loginCard .btn-primary,
.signupCard .btn-success,
.signupCard .btn-primary{
    font-weight: 700;
}
.signupCard{
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    display: none;
    background: white;
}

.contactBox{
    margin: 8% auto;
    text-align: left;
    padding: 0;
}
.contactBox h5{
    font-weight: 400;
    line-height: 35px;
}
.postImg{
    width: 250px;
    border-radius: 2px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.05);
    margin: 10px 0;
}


.blogFooter{
    width: 100%;
    background: rgb(68, 68, 68);
    margin: 0 0 0 0;
    padding: 20px 20px 6px 20px;
}
.blogFooter p{
    color: rgba(255,255,255,0.7);
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0;
}





@media(max-width:992px){
    
    .nav-item{
        padding-left: 0;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .nav-link{
        padding: 0.8rem 3px!important;
    }
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .d-flex .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .d-flex .nav-link.active{
        color: rgba(0,0,0,0.95);
        background: rgba(0,0,0,0.05);
    }
    .m-auto {
        margin-top: 1rem !important;
    }
}

@media(max-width:768px){
    .navbar {
        padding: 1rem 0.3rem;
    }
    .postImage {
        width: 100%;
    }
    .postsCard h4{margin-top: 20px;}
    .postareaLeft{border: none;}
    .postsCard {
        width: 100%;
    }
}

@media(max-width:767px){
    .dnone{display: none;}
}